@model MyOpportunity.Models.Restaurant


@{
    ViewBag.Title = "Index";
}

<h2>Review for @Model.Name</h2>

@Html.Partial("_Review", @Model.Reviews)

<p>
    @Html.ActionLink("Create New", "Create", new { restaurantid =@Model.Id})
    @Html.ActionLink("Back to Restaurant", "Index", "Restaurant")
</p>
