@model MyOpportunity.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Category</legend>

        @Html.HiddenFor(model => model.CategoryID)

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryName)
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ActionName)
        </div>
        <div class="form-group editor-field">
            @Html.EditorFor(model => model.ActionName)
            @Html.ValidationMessageFor(model => model.ActionName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ControllerName)
        </div>
        <div class="form-group editor-field">
            @Html.EditorFor(model => model.ControllerName)
            @Html.ValidationMessageFor(model => model.ControllerName)
        </div>
        <div>* Системные поля, вводятся администратором сайта.</div>

        <p>
            <input type="submit" value="Save" class="btn btn-primary" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Категории", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
